In [433]:
import pandas as pd

In [434]:
math_grade3 = pd.read_excel('MAT03.xlsx', skiprows=2, skipfooter=2)
math_grade4 = pd.read_excel('MAT04.xlsx', skiprows=2, skipfooter=2)
math_grade5 = pd.read_excel('MAT05.xlsx', skiprows=2, skipfooter=2)
math_grade6 = pd.read_excel('MAT06.xlsx', skiprows=2, skipfooter=2)
math_grade7 = pd.read_excel('MAT07.xlsx', skiprows=2, skipfooter=2)
math_grade8 = pd.read_excel('MAT08.xlsx', skiprows=2, skipfooter=2)
math_gradealg = pd.read_excel('MATALG1.xlsx', skiprows=2, skipfooter=2)
math_gradealg2 = pd.read_excel('MATALG2.xlsx', skiprows=2, skipfooter=2)
math_gradegeo = pd.read_excel('MATGEO.xlsx', skiprows=2, skipfooter=2)

In [435]:
math_grade3['GRADE'] = '3'
math_grade4['GRADE'] = '4'
math_grade5['GRADE'] = '5'
math_grade6['GRADE'] = '6'
math_grade7['GRADE'] = '7'
math_grade8['GRADE'] = '8'
math_gradealg['GRADE'] = '9 and Algebra I'
math_gradealg2['GRADE'] = '10 and Algebra II'
math_gradegeo['GRADE'] = '11 and Geometry'

In [436]:
math_grade3

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,*,*,91,732,16.5,22,27.5,33,1.1,3
1,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,WHITE,*,*,53,743,7.5,13.2,35.8,41.5,1.9,3
2,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,AFRICAN AMERICAN,*,*,17,712,23.5,52.9,11.8,11.8,0,3
3,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,ASIAN,*,*,*,*,*,*,*,*,*,3
4,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,HISPANIC,*,*,*,*,*,*,*,*,*,3
5,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,OTHER,*,*,*,*,*,*,*,*,*,3
6,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,GENDER,MALE,*,*,45,728,20,22.2,28.9,26.7,2.2,3
7,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,GENDER,FEMALE,*,*,46,736,13,21.7,26.1,39.1,0,3
8,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,STUDENTS WITH DISABILITIES,*,*,20,708,50,10,20,15,5,3
9,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,ENGLISH LANGUAGE LEARNERS,*,*,13,730,23.1,15.4,15.4,46.2,0,3
10,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,CURRENT - ELL,*,*,*,*,*,*,*,*,*,3
11,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,FORMER - ELL,*,*,*,*,*,*,*,*,*,3
12,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,ECONOMICALLY DISADVANTAGED,*,*,36,717,33.3,19.4,33.3,13.9,0,3
13,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,NON-ECON. DISADVANTAGED,*,*,55,742,5.5,23.6,23.6,45.5,1.8,3
14,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,SE ACCOMMODATION,*,*,12,681,75,25,0,0,0,3
15,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,TOTAL,ALL STUDENTS,*,*,91,732,16.5,22,27.5,33,1.1,3
16,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,WHITE,*,*,53,743,7.5,13.2,35.8,41.5,1.9,3
17,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,AFRICAN AMERICAN,*,*,17,712,23.5,52.9,11.8,11.8,0,3
18,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,ASIAN,*,*,*,*,*,*,*,*,*,3
19,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,HISPANIC,*,*,*,*,*,*,*,*,*,3
20,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,OTHER,*,*,*,*,*,*,*,*,*,3
21,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,GENDER,MALE,*,*,45,728,20,22.2,28.9,26.7,2.2,3
22,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,GENDER,FEMALE,*,*,46,736,13,21.7,26.1,39.1,0,3
23,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,STUDENTS WITH DISABILITIES,*,*,20,708,50,10,20,15,5,3
24,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,ENGLISH LANGUAGE LEARNERS,*,*,13,730,23.1,15.4,15.4,46.2,0,3
25,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,CURRENT - ELL,*,*,*,*,*,*,*,*,*,3
26,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,FORMER - ELL,*,*,*,*,*,*,*,*,*,3
27,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,ECONOMICALLY DISADVANTAGED,*,*,36,717,33.3,19.4,33.3,13.9,0,3
28,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,NON-ECON. DISADVANTAGED,*,*,55,742,5.5,23.6,23.6,45.5,1.8,3
29,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,SE ACCOMMODATION,*,*,12,681,75,25,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24965,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,AMERICAN INDIAN,*,*,*,*,*,*,*,*,*,3
24966,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,HISPANIC,*,*,1110,743,9.9,19.7,27.6,34.7,8.1,3
24967,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,NATIVE HAWAIIAN,*,*,*,*,*,*,*,*,*,3
24968,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,OTHER,*,*,43,758,2.3,16.3,18.6,44.2,18.6,3
24969,DFG,NaN,NaN,NaN,NaN,NaN,R,GENDER,MALE,*,*,1801,745,9.2,19.7,24.6,37,9.6,3
24970,DFG,NaN,NaN,NaN,NaN,NaN,R,GENDER,FEMALE,*,*,2036,748,8.4,18,25.1,37.2,11.2,3
24971,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,STUDENTS WITH DISABILITIES,*,*,350,718,28.6,34.9,17.7,16,2.9,3
24972,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,ENGLISH LANGUAGE LEARNERS,*,*,92,730,18.5,23.9,30.4,20.7,6.5,3
24973,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,CURRENT - ELL,*,*,75,727,21.3,25.3,30.7,18.7,4,3
24974,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,FORMER - ELL,*,*,17,746,5.9,17.6,29.4,29.4,17.6,3
24975,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,ECONOMICALLY DISADVANTAGED,*,*,2760,741,10.8,21.8,26.4,34.1,6.9,3
24976,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,NON-ECON. DISADVANTAGED,*,*,1077,761,3.5,11.1,21,44.9,19.4,3
24977,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,SE ACCOMMODATION,*,*,328,719,26.5,35.1,18.9,17.4,2.1,3
24978,STATE,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,ALL STUDENTS,103393,3546,99847,750,8.1,15.9,24.3,39,12.7,3
24979,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,WHITE,44847,2076,42771,758,3.8,10.4,22.7,47.8,15.2,3
24980,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,AFRICAN AMERICAN,16088,571,15517,731,16.8,25.3,27.4,26.2,4.3,3
24981,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,ASIAN,10251,118,10133,778,1.6,4.1,11.8,46,36.4,3
24982,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,AMERICAN INDIAN,*,*,127,746,13.4,15.7,22.8,36.2,11.8,3
24983,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,HISPANIC,29524,671,28853,736,12.2,23.4,29.4,30.2,4.8,3
24984,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,NATIVE HAWAIIAN,*,*,258,761,4.3,8.5,22.1,48.1,17.1,3
24985,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,OTHER,2284,96,2188,754,6.6,13.2,23.1,41.6,15.5,3
24986,STATE,NaN,NaN,NaN,NaN,NaN,NaN,GENDER,MALE,52700,1993,50707,749,9.2,16,23.6,38.2,13.1,3
24987,STATE,NaN,NaN,NaN,NaN,NaN,NaN,GENDER,FEMALE,50693,1553,49140,750,7,15.9,25,39.9,12.2,3
24988,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,STUDENTS WITH DISABILITIES,16440,1252,15188,727,22.5,25.8,23.9,22.9,4.9,3
24989,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,ENGLISH LANGUAGE LEARNERS,10008,130,9878,732,15.2,26.8,28.9,24.6,4.6,3
24990,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,CURRENT - ELL,6701,93,6608,724,19.5,31.6,28.9,18,2.1,3
24991,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,FORMER - ELL,3307,37,3270,747,6.4,17,28.9,38,9.6,3
24992,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,ECONOMICALLY DISADVANTAGED,42816,1157,41659,733,14.3,24.7,29.1,27.8,4,3
24993,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,NON-ECON. DISADVANTAGED,60577,2389,58188,761,3.6,9.6,20.9,47.1,18.9,3
24994,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,SE ACCOMMODATION,12576,872,11704,720,26.1,29.8,25.1,16.8,2.2,3

In [437]:
#Concat all scores

math_grade_all = pd.concat([math_grade3, math_grade4, math_grade5, math_grade6, math_grade7, math_grade8, math_gradealg, math_gradealg2, math_gradegeo], axis=0)

In [438]:
len(math_grade3.index)

24995

In [439]:
len(math_grade4.index)

24376

In [440]:
len(math_grade_all.index)

168501

In [441]:
math_grade4filter = math_grade_all[(math_grade_all['SCHOOL NAME'] == "WILLIAM H. ROSS III SCHOOL")]
math_grade4filter

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
523,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,46,783,0,2.2,2.2,60.9,34.8,3
524,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,WHITE,*,*,45,783,0,2.2,2.2,60,35.6,3
525,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,AMERICAN INDIAN,*,*,*,*,*,*,*,*,*,3
526,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,MALE,*,*,22,786,0,4.5,0,54.5,40.9,3
527,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,FEMALE,*,*,24,779,0,0,4.2,66.7,29.2,3
528,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,STUDENTS WITH DISABILITIES,*,*,*,*,*,*,*,*,*,3
529,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,ENGLISH LANGUAGE LEARNERS,*,*,*,*,*,*,*,*,*,3
530,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,CURRENT - ELL,*,*,*,*,*,*,*,*,*,3
531,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,ECONOMICALLY DISADVANTAGED,*,*,*,*,*,*,*,*,*,3
532,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,NON-ECON. DISADVANTAGED,*,*,43,785,0,0,2.3,60.5,37.2,3
533,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,SE ACCOMMODATION,*,*,*,*,*,*,*,*,*,3
473,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,40,761,0,5,25,60,10,4
474,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,WHITE,*,*,31,762,0,6.5,25.8,54.8,12.9,4
475,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,AMERICAN INDIAN,*,*,*,*,*,*,*,*,*,4
476,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,HISPANIC,*,*,*,*,*,*,*,*,*,4
477,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,OTHER,*,*,*,*,*,*,*,*,*,4
478,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,MALE,*,*,26,763,0,3.8,19.2,65.4,11.5,4
479,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,FEMALE,*,*,14,756,0,7.1,35.7,50,7.1,4
480,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,STUDENTS WITH DISABILITIES,*,*,*,*,*,*,*,*,*,4
481,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,ECONOMICALLY DISADVANTAGED,*,*,*,*,*,*,*,*,*,4
482,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,NON-ECON. DISADVANTAGED,*,*,34,762,0,5.9,23.5,58.8,11.8,4
483,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,SE ACCOMMODATION,*,*,*,*,*,*,*,*,*,4

In [442]:
#Filter stuff DFG-- not designated out
math_grade_all_nodfg = math_grade_all[(math_grade_all['COUNTY CODE'] != "DFG")]

In [443]:
#math_grade_all_nodfg

math_grade_all_nodfg['COUNTY CODE'].unique()

array([u'01', u'03', u'05', u'07', u'09', u'11', u'13', u'15', u'17',
       u'19', u'21', u'23', u'25', u'27', u'29', u'31', u'33', u'35',
       u'37', u'39', u'41', u'80', u'STATE', nan], dtype=object)

In [444]:
len(math_grade_all_nodfg.index)

166710

In [445]:
#Filter statewide stuff
math_grade_state = math_grade_all[(math_grade_all['COUNTY CODE'] == "STATE")]

math_grade_state.to_csv('NJ_statewide.csv')

In [446]:
math_grade_clean = math_grade_all_nodfg[(math_grade_all_nodfg['COUNTY CODE'] != "STATE")]

In [447]:
len(math_grade_clean.index)

166534

In [448]:
math_grade_clean['COUNTY CODE'].unique()

array([u'01', u'03', u'05', u'07', u'09', u'11', u'13', u'15', u'17',
       u'19', u'21', u'23', u'25', u'27', u'29', u'31', u'33', u'35',
       u'37', u'39', u'41', u'80', nan], dtype=object)

In [449]:
math_grade_clean.to_csv('math_allgrades2016.csv', header=True)

In [450]:
math_grade_all_withasterisk = math_grade_clean[(math_grade_clean['SUBGROUP'] == "TOTAL")]

In [451]:
len(math_grade_all_withasterisk.index)

12673

In [452]:
math_grade_all_total = math_grade_all_withasterisk[(math_grade_all_withasterisk['L1 PERCENT'] != "*")]

In [453]:
len(math_grade_all_total.index)

12075

In [454]:
math_grade4filter = math_grade_all_total[(math_grade_all_total['SCHOOL NAME'] == "WILLIAM H. ROSS III SCHOOL")]
math_grade4filter

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
523,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,46,783,0,2.2,2.2,60.9,34.8,3
473,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,40,761,0,5,25,60,10,4

In [455]:
math_grade_all_total.head()

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,*,*,91,732,16.5,22,27.5,33,1.1,3
15,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,TOTAL,ALL STUDENTS,*,*,91,732,16.5,22,27.5,33,1.1,3
30,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,71,737,11.3,21.1,31,33.8,2.8,3
44,01,ATLANTIC,0110,ATLANTIC CITY,50.0,CHELSEA HEIGHTS SCHOOL,A,TOTAL,ALL STUDENTS,*,*,38,734,13.2,21.1,36.8,21.1,7.9,3
58,01,ATLANTIC,0110,ATLANTIC CITY,60.0,TEXAS AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,63,726,19,31.7,23.8,22.2,3.2,3

In [456]:
math_grade_all_total['SCHOOL NAME'] =  math_grade_all_total['SCHOOL NAME'].fillna('DISTRICT WIDE')

/Users/castudi1/miniconda2/envs/lovepandas/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [457]:
math_grade_all_total.head(10)

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,*,*,91,732,16.5,22,27.5,33,1.1,3
15,01,ATLANTIC,0010,ABSECON CITY,NaN,DISTRICT WIDE,CD,TOTAL,ALL STUDENTS,*,*,91,732,16.5,22,27.5,33,1.1,3
30,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,71,737,11.3,21.1,31,33.8,2.8,3
44,01,ATLANTIC,0110,ATLANTIC CITY,50.0,CHELSEA HEIGHTS SCHOOL,A,TOTAL,ALL STUDENTS,*,*,38,734,13.2,21.1,36.8,21.1,7.9,3
58,01,ATLANTIC,0110,ATLANTIC CITY,60.0,TEXAS AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,63,726,19,31.7,23.8,22.2,3.2,3
72,01,ATLANTIC,0110,ATLANTIC CITY,70.0,NEW YORK AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,63,710,36.5,28.6,19,15.9,0,3
87,01,ATLANTIC,0110,ATLANTIC CITY,80.0,UPTOWN SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,52,714,25,40.4,23.1,11.5,0,3
101,01,ATLANTIC,0110,ATLANTIC CITY,100.0,PENNSYLVANIA AVE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,59,734,18.6,23.7,20.3,33.9,3.4,3
116,01,ATLANTIC,0110,ATLANTIC CITY,120.0,RICHMOND AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,70,748,10,20,15.7,44.3,10,3
132,01,ATLANTIC,0110,ATLANTIC CITY,140.0,DR MARTIN LUTHER KING JR SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,58,719,24.1,31,31,13.8,0,3

In [458]:
math_grade4filter = math_grade_all_total[(math_grade_all_total['SCHOOL NAME'] == "WILLIAM H. ROSS III SCHOOL")]

math_grade_all_total.to_csv('math_allgrades_total2016-2.csv', header=True)
math_grade4filter

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
523,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,46,783,0,2.2,2.2,60.9,34.8,3
473,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,40,761,0,5,25,60,10,4

In [459]:
la_grade3 = pd.read_excel('ELA03.xlsx', skiprows=2, skipfooter=2)
la_grade4 = pd.read_excel('ELA04.xlsx', skiprows=2, skipfooter=2)
la_grade5 = pd.read_excel('ELA05.xlsx', skiprows=2, skipfooter=2)
la_grade6 = pd.read_excel('ELA06.xlsx', skiprows=2, skipfooter=2)
la_grade7 = pd.read_excel('ELA07.xlsx', skiprows=2, skipfooter=2)
la_grade8 = pd.read_excel('ELA08.xlsx', skiprows=2, skipfooter=2)
la_grade9 = pd.read_excel('ELA09.xlsx', skiprows=2, skipfooter=2)
la_grade10 = pd.read_excel('ELA10.xlsx', skiprows=2, skipfooter=2)
la_grade11 = pd.read_excel('ELA11.xlsx', skiprows=2, skipfooter=2)

In [460]:
la_grade3['GRADE'] = '3'
la_grade4['GRADE'] = '4'
la_grade5['GRADE'] = '5'
la_grade6['GRADE'] = '6'
la_grade7['GRADE'] = '7'
la_grade8['GRADE'] = '8'
la_grade9['GRADE'] = '9 and Algebra I'
la_grade10['GRADE'] = '10 and Algebra II'
la_grade11['GRADE'] = '11 and Geometry'

In [461]:
la_grade_all = pd.concat([la_grade3, la_grade4, la_grade5, la_grade6, la_grade7, la_grade8, la_grade9, la_grade10, la_grade11], axis=0)

In [462]:
#Filter stuff DFG-- not designated out
la_grade_all_nodfg = la_grade_all[(la_grade_all['COUNTY CODE'] != "DFG")]

In [463]:
len(la_grade_all.index)

151151

In [464]:
len(la_grade_all_nodfg.index)

149552

In [465]:
la_grade_clean = la_grade_all_nodfg[(la_grade_all_nodfg['COUNTY CODE'] != "STATE")]

In [466]:
len(la_grade_clean.index)

149399

In [467]:
la_grade_clean['COUNTY CODE'].unique()

array([u'01', u'03', u'05', u'07', u'09', u'11', u'13', u'15', u'17',
       u'19', u'21', u'23', u'25', u'27', u'29', u'31', u'33', u'35',
       u'37', u'39', u'41', u'80', nan], dtype=object)

In [468]:
la_grade_clean.to_csv('la_allgrades2016.csv', header=True)

In [469]:
la_grade4filter = la_grade_all_total[(la_grade_all_total['GRADE'] == "80")]
la_grade4filter

Empty DataFrame
Columns: [COUNTY CODE, COUNTY NAME, DISTRICT CODE, DISTRICT NAME, SCHOOL CODE, SCHOOL NAME, DFG, SUBGROUP, SUBGROUP_TYPE, REGISTERED TO TEST, NOT TESTED ** (See Below), VALID SCORES, MEAN SCALE SCORE, L1 PERCENT, L2 PERCENT, L3 PERCENT, L4 PERCENT, L5 PERCENT, GRADE]
Index: []

In [470]:
la_grade_all_withasterisk = la_grade_clean[(la_grade_clean['SUBGROUP'] == "TOTAL")]

In [471]:
la_grade_all_total = la_grade_all_withasterisk[(la_grade_all_withasterisk['L1 PERCENT'] != "*")]

In [472]:
len(la_grade_all_total.index)

11484

In [473]:
la_grade_all_total['SCHOOL NAME'] =  la_grade_all_total['SCHOOL NAME'].fillna('DISTRICT WIDE')

/Users/castudi1/miniconda2/envs/lovepandas/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [474]:
la_grade_all_total.head(10)

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,*,*,91,732,23.1,20.9,17.6,37.4,1.1,3
15,01,ATLANTIC,0010,ABSECON CITY,NaN,DISTRICT WIDE,CD,TOTAL,ALL STUDENTS,*,*,91,732,23.1,20.9,17.6,37.4,1.1,3
30,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,69,726,20.3,26.1,29,24.6,0,3
44,01,ATLANTIC,0110,ATLANTIC CITY,50.0,CHELSEA HEIGHTS SCHOOL,A,TOTAL,ALL STUDENTS,*,*,37,734,18.9,27,24.3,24.3,5.4,3
58,01,ATLANTIC,0110,ATLANTIC CITY,60.0,TEXAS AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,62,717,33.9,27.4,16.1,22.6,0,3
72,01,ATLANTIC,0110,ATLANTIC CITY,70.0,NEW YORK AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,64,700,57.8,17.2,20.3,4.7,0,3
87,01,ATLANTIC,0110,ATLANTIC CITY,80.0,UPTOWN SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,52,705,44.2,26.9,21.2,7.7,0,3
101,01,ATLANTIC,0110,ATLANTIC CITY,100.0,PENNSYLVANIA AVE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,58,724,27.6,27.6,19,25.9,0,3
116,01,ATLANTIC,0110,ATLANTIC CITY,120.0,RICHMOND AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,69,748,13,18.8,17.4,44.9,5.8,3
132,01,ATLANTIC,0110,ATLANTIC CITY,140.0,DR MARTIN LUTHER KING JR SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,58,705,46.6,29.3,13.8,10.3,0,3

In [475]:
la_grade_all_total.to_csv('la_allgrades_total2016.csv', header=True)

In [476]:
 len(la_grade_all_total.index)
len(math_grade_all_total.index)

12075

In [477]:
latest_both_subject = pd.merge(math_grade_all_total, la_grade_all_total, on=['COUNTY CODE', 'DISTRICT CODE', 'SCHOOL CODE', 'COUNTY NAME', 'DISTRICT NAME', 'SCHOOL NAME', 'DFG', 'SUBGROUP', 'SUBGROUP_TYPE', 'GRADE'], how='outer')

In [478]:
len(latest_both_subject.index)

12300

In [479]:
list(latest_both_subject)

[u'COUNTY CODE',
 u'COUNTY NAME',
 u'DISTRICT CODE',
 u'DISTRICT NAME',
 u'SCHOOL CODE',
 u'SCHOOL NAME',
 u'DFG',
 u'SUBGROUP',
 u'SUBGROUP_TYPE',
 u'REGISTERED TO TEST_x',
 u'NOT TESTED ** (See Below)_x',
 u'VALID SCORES_x',
 u'MEAN SCALE SCORE_x',
 u'L1 PERCENT_x',
 u'L2 PERCENT_x',
 u'L3 PERCENT_x',
 u'L4 PERCENT_x',
 u'L5 PERCENT_x',
 'GRADE',
 u'REGISTERED TO TEST_y',
 u'NOT TESTED ** (See Below)_y',
 u'VALID SCORES_y',
 u'MEAN SCALE SCORE_y',
 u'L1 PERCENT_y',
 u'L2 PERCENT_y',
 u'L3 PERCENT_y',
 u'L4 PERCENT_y',
 u'L5 PERCENT_y']

In [484]:
latest_both_subject.rename(columns={'REGISTERED TO TEST_x': 'LATEST_REGISTERED TO TEST_MATH', 'NOT TESTED ** (See Below)_x': 'LATEST_NOT TESTED ** (See Below)_MATH', 'VALID SCORES_x': 'LATEST_VALID SCORES_MATH', 'MEAN SCALE SCORE_x': 'LATEST_MEAN SCALE SCORE_MATH', 'L1 PERCENT_x': 'LATEST_L1 PERCENT_MATH', 'L2 PERCENT_x': 'LATEST_L2 PERCENT_MATH', 'L3 PERCENT_x': 'LATEST_L3 PERCENT_MATH', 'L4 PERCENT_x': 'LATEST_L4 PERCENT_MATH', 'L5 PERCENT_x': 'LATEST_L5 PERCENT_MATH'}, inplace=True)

In [485]:
latest_both_subject.rename(columns={'REGISTERED TO TEST_y': 'LATEST_REGISTERED TO TEST_LA', 'NOT TESTED ** (See Below)_y': 'LATEST_NOT TESTED ** (See Below)_LA', 'VALID SCORES_y': 'LATEST_VALID SCORES_LA', 'MEAN SCALE SCORE_y': 'LATEST_MEAN SCALE SCORE_LA', 'L1 PERCENT_y': 'LATEST_L1 PERCENT_LA', 'L2 PERCENT_y': 'LATEST_L2 PERCENT_LA', 'L3 PERCENT_y': 'LATEST_L3 PERCENT_LA', 'L4 PERCENT_y': 'LATEST_L4 PERCENT_LA', 'L5 PERCENT_y': 'LATEST_L5 PERCENT_LA'}, inplace=True)

In [486]:
list(latest_both_subject)

[u'COUNTY CODE',
 u'COUNTY NAME',
 u'DISTRICT CODE',
 u'DISTRICT NAME',
 u'SCHOOL CODE',
 u'SCHOOL NAME',
 u'DFG',
 u'SUBGROUP',
 u'SUBGROUP_TYPE',
 'LATEST_REGISTERED TO TEST_MATH',
 'LATEST_NOT TESTED ** (See Below)_MATH',
 'LATEST_VALID SCORES_MATH',
 'LATEST_MEAN SCALE SCORE_MATH',
 'LATEST_L1 PERCENT_MATH',
 'LATEST_L2 PERCENT_MATH',
 'LATEST_L3 PERCENT_MATH',
 'LATEST_L4 PERCENT_MATH',
 'LATEST_L5 PERCENT_MATH',
 'GRADE',
 'LATEST_REGISTERED TO TEST_LA',
 'LATEST_NOT TESTED ** (See Below)_LA',
 'LATEST_VALID SCORES_LA',
 'LATEST_MEAN SCALE SCORE_LA',
 'LATEST_L1 PERCENT_LA',
 'LATEST_L2 PERCENT_LA',
 'LATEST_L3 PERCENT_LA',
 'LATEST_L4 PERCENT_LA',
 'LATEST_L5 PERCENT_LA']

In [487]:
latest_both_subject.to_csv('latest_both_subject.csv', header=True, index=False)