In [1]:
import pandas as pd

In [2]:
math_grade3 = pd.read_excel('MAT03.xlsx', skiprows=2, skipfooter=2)
math_grade4 = pd.read_excel('MAT04.xlsx', skiprows=2, skipfooter=2)
math_grade5 = pd.read_excel('MAT05.xlsx', skiprows=2, skipfooter=2)
math_grade6 = pd.read_excel('MAT06.xlsx', skiprows=2, skipfooter=2)
math_grade7 = pd.read_excel('MAT07.xlsx', skiprows=2, skipfooter=2)
math_grade8 = pd.read_excel('MAT08.xlsx', skiprows=2, skipfooter=2)
math_gradealg = pd.read_excel('MATALG1.xlsx', skiprows=2, skipfooter=2)
math_gradealg2 = pd.read_excel('MATALG2.xlsx', skiprows=2, skipfooter=2)
math_gradegeo = pd.read_excel('MATGEO.xlsx', skiprows=2, skipfooter=2)

In [3]:
math_grade3['GRADE'] = '3'
math_grade4['GRADE'] = '4'
math_grade5['GRADE'] = '5'
math_grade6['GRADE'] = '6'
math_grade7['GRADE'] = '7'
math_grade8['GRADE'] = '8'
math_gradealg['GRADE'] = '9 and Algebra I'
math_gradealg2['GRADE'] = '10 and Algebra II'
math_gradegeo['GRADE'] = '11 and Geometry'

In [4]:
math_grade3

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,90,22,68,739,4.4,23.5,30.9,38.2,2.9,3
1,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,WHITE,NaN,NaN,38,744,2.6,18.4,36.8,39.5,2.6,3
2,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,AFRICAN AMERICAN,NaN,NaN,13,721,7.7,46.2,23.1,23.1,0,3
3,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,ASIAN,NaN,NaN,*,*,*,*,*,*,*,3
4,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,HISPANIC,NaN,NaN,*,*,*,*,*,*,*,3
5,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,RACE/ETHNICITY,OTHER,NaN,NaN,*,*,*,*,*,*,*,3
6,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,GENDER,MALE,NaN,NaN,37,743,0,21.6,40.5,35.1,2.7,3
7,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,GENDER,FEMALE,NaN,NaN,31,735,9.7,25.8,19.4,41.9,3.2,3
8,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,STUDENTS WITH DISABLITIES,NaN,NaN,*,*,*,*,*,*,*,3
9,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,ENGLISH LANGUAGE LEARNERS,NaN,NaN,12,736,8.3,25,25,41.7,0,3
10,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,CURRENT - ELL,NaN,NaN,*,*,*,*,*,*,*,3
11,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,FORMER - ELL,NaN,NaN,*,*,*,*,*,*,*,3
12,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,ECONOMICALLY DISADVANTAGED,NaN,NaN,31,730,6.5,38.7,25.8,25.8,3.2,3
13,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,SUBGROUP,NON ECON. DISADVANTAGED,NaN,NaN,37,747,2.7,10.8,35.1,48.6,2.7,3
14,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,TOTAL,ALL STUDENTS,90,22,68,739,4.4,23.5,30.9,38.2,2.9,3
15,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,WHITE,NaN,NaN,38,744,2.6,18.4,36.8,39.5,2.6,3
16,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,AFRICAN AMERICAN,NaN,NaN,13,721,7.7,46.2,23.1,23.1,0,3
17,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,ASIAN,NaN,NaN,*,*,*,*,*,*,*,3
18,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,HISPANIC,NaN,NaN,*,*,*,*,*,*,*,3
19,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,RACE/ETHNICITY,OTHER,NaN,NaN,*,*,*,*,*,*,*,3
20,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,GENDER,MALE,NaN,NaN,37,743,0,21.6,40.5,35.1,2.7,3
21,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,GENDER,FEMALE,NaN,NaN,31,735,9.7,25.8,19.4,41.9,3.2,3
22,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,STUDENTS WITH DISABLITIES,NaN,NaN,*,*,*,*,*,*,*,3
23,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,ENGLISH LANGUAGE LEARNERS,NaN,NaN,12,736,8.3,25,25,41.7,0,3
24,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,CURRENT - ELL,NaN,NaN,*,*,*,*,*,*,*,3
25,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,FORMER - ELL,NaN,NaN,*,*,*,*,*,*,*,3
26,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,ECONOMICALLY DISADVANTAGED,NaN,NaN,31,730,6.5,38.7,25.8,25.8,3.2,3
27,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,SUBGROUP,NON ECON. DISADVANTAGED,NaN,NaN,37,747,2.7,10.8,35.1,48.6,2.7,3
28,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,76,737,13.2,13.2,36.8,31.6,5.3,3
29,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,RACE/ETHNICITY,AFRICAN AMERICAN,NaN,NaN,*,*,*,*,*,*,*,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22921,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,AFRICAN AMERICAN,NaN,NaN,1842,741,7.9,22.1,30.9,33.2,5.8,3
22922,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,ASIAN,NaN,NaN,183,775,.5,3.3,16.9,50.3,29,3
22923,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,AMERICAN INDIAN,NaN,NaN,*,*,*,*,*,*,*,3
22924,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,HISPANIC,NaN,NaN,935,741,9.6,19,31.7,34.4,5.2,3
22925,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,NaN,NaN,*,*,*,*,*,*,*,3
22926,DFG,NaN,NaN,NaN,NaN,NaN,R,RACE/ETHNICITY,OTHER,NaN,NaN,64,761,3.1,9.4,26.6,42.2,18.8,3
22927,DFG,NaN,NaN,NaN,NaN,NaN,R,GENDER,MALE,NaN,NaN,1635,745,7.9,19,28.3,36.1,8.7,3
22928,DFG,NaN,NaN,NaN,NaN,NaN,R,GENDER,FEMALE,NaN,NaN,1746,746,6.7,18.3,30.3,36.2,8.5,3
22929,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,STUDENTS WITH DISABLITIES,NaN,NaN,271,725,21.4,31.4,27.3,16.6,3.3,3
22930,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,ENGLISH LANGUAGE LEARNERS,NaN,NaN,89,731,16.9,24.7,33.7,21.3,3.4,3
22931,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,CURRENT - ELL,NaN,NaN,67,724,20.9,26.9,34.3,16.4,1.5,3
22932,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,FORMER - ELL,NaN,NaN,22,751,4.5,18.2,31.8,36.4,9.1,3
22933,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,ECONOMICALLY DISADVANTAGED,NaN,NaN,2410,740,8.5,21.6,31.5,32.9,5.5,3
22934,DFG,NaN,NaN,NaN,NaN,NaN,R,SUBGROUP,NON ECON. DISADVANTAGED,NaN,NaN,971,758,4.3,11.4,23.8,44.1,16.4,3
22935,STATE,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,ALL STUDENTS,101833,5901,95932,745,8.3,18.5,28.3,36.9,8,3
22936,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,WHITE,45965,3446,42519,752,4,13,27.7,46.5,8.9,3
22937,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,AFRICAN AMERICAN,15658,965,14693,727,17.9,28.5,30,21.7,1.9,3
22938,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,ASIAN,9996,196,9800,772,1.6,5.1,16,48.6,28.8,3
22939,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,AMERICAN INDIAN,*,*,128,739,14.1,18.8,27.3,28.9,10.9,3
22940,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,HISPANIC,27810,1137,26673,732,12.5,27,33,25.3,2.2,3
22941,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,*,*,226,756,4,10.6,25.7,47.3,12.4,3
22942,STATE,NaN,NaN,NaN,NaN,NaN,NaN,RACE/ETHNICITY,OTHER,2033,140,1893,751,6.7,14.9,25.4,41.7,11.3,3
22943,STATE,NaN,NaN,NaN,NaN,NaN,NaN,GENDER,MALE,51984,3053,48931,745,9.3,18.5,27.2,36.3,8.6,3
22944,STATE,NaN,NaN,NaN,NaN,NaN,NaN,GENDER,FEMALE,49849,2848,47001,745,7.3,18.4,29.3,37.5,7.4,3
22945,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,STUDENTS WITH DISABLITIES,15645,1564,14081,726,22,28.3,25.4,21.3,3,3
22946,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,ENGLISH LANGUAGE LEARNERS,9911,190,9721,729,15.4,30.7,30.6,20.5,2.8,3
22947,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,CURRENT - ELL,7214,154,7060,724,18.5,34.7,30,15.2,1.5,3
22948,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,FORMER - ELL,2697,36,2661,742,7.3,20,32.2,34.5,6,3
22949,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,ECONOMICALLY DISADVANTAGED,41841,1997,39844,730,14.7,28.1,31.9,23.3,2,3
22950,STATE,NaN,NaN,NaN,NaN,NaN,NaN,SUBGROUP,NON ECON. DISADVANTAGED,59992,3904,56088,755,3.8,11.6,25.7,46.6,12.3,3

In [5]:
#Concat all scores

math_grade_all = pd.concat([math_grade3, math_grade4, math_grade5, math_grade6, math_grade7, math_grade8, math_gradealg, math_gradealg2, math_gradegeo], axis=0)

In [6]:
len(math_grade3.index)

22951

In [7]:
len(math_grade4.index)

22324

In [8]:
len(math_grade_all.index)

152752

In [9]:
math_grade4filter = math_grade_all[(math_grade_all['SCHOOL NAME'] == "WILLIAM H. ROSS III SCHOOL")]
math_grade4filter

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
479,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,40,766,0,12.5,15,52.5,20,3
480,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,WHITE,NaN,NaN,31,767,0,12.9,9.7,58.1,19.4,3
481,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,AMERICAN INDIAN,NaN,NaN,*,*,*,*,*,*,*,3
482,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,HISPANIC,NaN,NaN,*,*,*,*,*,*,*,3
483,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,OTHER,NaN,NaN,*,*,*,*,*,*,*,3
484,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,MALE,NaN,NaN,27,768,0,11.1,14.8,51.9,22.2,3
485,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,FEMALE,NaN,NaN,13,760,0,15.4,15.4,53.8,15.4,3
486,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,STUDENTS WITH DISABLITIES,NaN,NaN,*,*,*,*,*,*,*,3
487,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,ECONOMICALLY DISADVANTAGED,NaN,NaN,*,*,*,*,*,*,*,3
488,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,NON ECON. DISADVANTAGED,NaN,NaN,*,*,*,*,*,*,*,3
450,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,38,745,0,18.4,42.1,36.8,2.6,4
451,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,RACE/ETHNICITY,WHITE,NaN,NaN,38,745,0,18.4,42.1,36.8,2.6,4
452,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,MALE,NaN,NaN,20,743,0,15,50,35,0,4
453,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,GENDER,FEMALE,NaN,NaN,18,747,0,22.2,33.3,38.9,5.6,4
454,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,STUDENTS WITH DISABLITIES,NaN,NaN,*,*,*,*,*,*,*,4
455,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,ECONOMICALLY DISADVANTAGED,NaN,NaN,*,*,*,*,*,*,*,4
456,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,SUBGROUP,NON ECON. DISADVANTAGED,NaN,NaN,*,*,*,*,*,*,*,4

In [10]:
#Filter stuff DFG-- not designated out
math_grade_all_nodfg = math_grade_all[(math_grade_all['COUNTY CODE'] != "DFG")]

In [11]:
#math_grade_all_nodfg

math_grade_all_nodfg['COUNTY CODE'].unique()

array([u'01', u'03', u'05', u'07', u'09', u'11', u'13', u'15', u'17',
       u'19', u'21', u'23', u'25', u'27', u'29', u'31', u'33', u'35',
       u'37', u'39', u'41', u'80', u'STATE'], dtype=object)

In [12]:
len(math_grade_all_nodfg.index)

151088

In [13]:
#Filter statewide stuff
math_grade_state = math_grade_all[(math_grade_all['COUNTY CODE'] == "STATE")]

math_grade_state.to_csv('NJ_statewide.csv')

In [14]:
math_grade_clean = math_grade_all_nodfg[(math_grade_all_nodfg['COUNTY CODE'] != "STATE")]

In [15]:
len(math_grade_clean.index)

150920

In [16]:
math_grade_clean['COUNTY CODE'].unique()

array([u'01', u'03', u'05', u'07', u'09', u'11', u'13', u'15', u'17',
       u'19', u'21', u'23', u'25', u'27', u'29', u'31', u'33', u'35',
       u'37', u'39', u'41', u'80'], dtype=object)

In [17]:
math_grade_clean.to_csv('math_allgrades2015.csv', header=True)

In [18]:
math_grade_all_withasterisk = math_grade_clean[(math_grade_clean['SUBGROUP'] == "TOTAL")]

In [19]:
len(math_grade_all_withasterisk.index)

12583

In [20]:
math_grade_all_total = math_grade_all_withasterisk[(math_grade_all_withasterisk['L1 PERCENT'] != "*")]

In [21]:
len(math_grade_all_total.index)

12015

In [22]:
math_grade4filter = math_grade_all_total[(math_grade_all_total['SCHOOL NAME'] == "WILLIAM H. ROSS III SCHOOL")]
math_grade4filter

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
479,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,40,766,0,12.5,15,52.5,20,3
450,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,38,745,0,18.4,42.1,36.8,2.6,4

In [23]:
math_grade_all_total.head()

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,90,22,68,739,4.4,23.5,30.9,38.2,2.9,3
14,01,ATLANTIC,0010,ABSECON CITY,NaN,NaN,CD,TOTAL,ALL STUDENTS,90,22,68,739,4.4,23.5,30.9,38.2,2.9,3
28,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,76,737,13.2,13.2,36.8,31.6,5.3,3
41,01,ATLANTIC,0110,ATLANTIC CITY,50.0,CHELSEA HEIGHTS SCHOOL,A,TOTAL,ALL STUDENTS,*,*,37,739,2.7,27,35.1,32.4,2.7,3
54,01,ATLANTIC,0110,ATLANTIC CITY,60.0,TEXAS AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,74,726,14.9,39.2,31.1,12.2,2.7,3

In [24]:
math_grade_all_total['SCHOOL NAME'] =  math_grade_all_total['SCHOOL NAME'].fillna('DISTRICT WIDE')

/Users/castudi1/miniconda2/envs/lovepandas/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [25]:
math_grade_all_total.head(10)

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,90,22,68,739,4.4,23.5,30.9,38.2,2.9,3
14,01,ATLANTIC,0010,ABSECON CITY,NaN,DISTRICT WIDE,CD,TOTAL,ALL STUDENTS,90,22,68,739,4.4,23.5,30.9,38.2,2.9,3
28,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,76,737,13.2,13.2,36.8,31.6,5.3,3
41,01,ATLANTIC,0110,ATLANTIC CITY,50.0,CHELSEA HEIGHTS SCHOOL,A,TOTAL,ALL STUDENTS,*,*,37,739,2.7,27,35.1,32.4,2.7,3
54,01,ATLANTIC,0110,ATLANTIC CITY,60.0,TEXAS AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,74,726,14.9,39.2,31.1,12.2,2.7,3
67,01,ATLANTIC,0110,ATLANTIC CITY,70.0,NEW YORK AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,58,716,24.1,39.7,24.1,12.1,0,3
80,01,ATLANTIC,0110,ATLANTIC CITY,80.0,UPTOWN SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,63,725,22.2,20.6,38.1,14.3,4.8,3
92,01,ATLANTIC,0110,ATLANTIC CITY,100.0,PENNSYLVANIA AVE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,52,725,19.2,30.8,28.8,17.3,3.8,3
105,01,ATLANTIC,0110,ATLANTIC CITY,120.0,RICHMOND AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,56,734,5.4,32.1,39.3,23.2,0,3
120,01,ATLANTIC,0110,ATLANTIC CITY,140.0,DR MARTIN LUTHER KING JR SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,79,709,35.4,27.8,32.9,3.8,0,3

In [26]:
math_grade4filter = math_grade_all_total[(math_grade_all_total['SCHOOL NAME'] == "WILLIAM H. ROSS III SCHOOL")]

math_grade_all_total.to_csv('math_allgrades_total2015-2.csv', header=True)
math_grade4filter

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
479,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,40,766,0,12.5,15,52.5,20,3
450,01,ATLANTIC,3020,MARGATE CITY,25.0,WILLIAM H. ROSS III SCHOOL,DE,TOTAL,ALL STUDENTS,*,*,38,745,0,18.4,42.1,36.8,2.6,4

In [27]:
la_grade3 = pd.read_excel('ELA03.xlsx', skiprows=2, skipfooter=2)
la_grade4 = pd.read_excel('ELA04.xlsx', skiprows=2, skipfooter=2)
la_grade5 = pd.read_excel('ELA05.xlsx', skiprows=2, skipfooter=2)
la_grade6 = pd.read_excel('ELA06.xlsx', skiprows=2, skipfooter=2)
la_grade7 = pd.read_excel('ELA07.xlsx', skiprows=2, skipfooter=2)
la_grade8 = pd.read_excel('ELA08.xlsx', skiprows=2, skipfooter=2)
la_grade9 = pd.read_excel('ELA09.xlsx', skiprows=2, skipfooter=2)
la_grade10 = pd.read_excel('ELA10.xlsx', skiprows=2, skipfooter=2)
la_grade11 = pd.read_excel('ELA11.xlsx', skiprows=2, skipfooter=2)

In [28]:
la_grade3['GRADE'] = '3'
la_grade4['GRADE'] = '4'
la_grade5['GRADE'] = '5'
la_grade6['GRADE'] = '6'
la_grade7['GRADE'] = '7'
la_grade8['GRADE'] = '8'
la_grade9['GRADE'] = '9 and Algebra I'
la_grade10['GRADE'] = '10 and Algebra II'
la_grade11['GRADE'] = '11 and Geometry'

In [29]:
la_grade_all = pd.concat([la_grade3, la_grade4, la_grade5, la_grade6, la_grade7, la_grade8, la_grade9, la_grade10, la_grade11], axis=0)

In [30]:
#Filter stuff DFG-- not designated out
la_grade_all_nodfg = la_grade_all[(la_grade_all['COUNTY CODE'] != "DFG")]

In [31]:
len(la_grade_all.index)

138037

In [32]:
len(la_grade_all_nodfg.index)

136536

In [33]:
la_grade_clean = la_grade_all_nodfg[(la_grade_all_nodfg['COUNTY CODE'] != "STATE")]

In [34]:
len(la_grade_clean.index)

136392

In [35]:
la_grade_clean['COUNTY CODE'].unique()

array([u'01', u'03', u'05', u'07', u'09', u'11', u'13', u'15', u'17',
       u'19', u'21', u'23', u'25', u'27', u'29', u'31', u'33', u'35',
       u'37', u'39', u'41', u'80'], dtype=object)

In [36]:
la_grade_clean.to_csv('la_allgrades2015.csv', header=True)

In [37]:
#la_grade4filter = la_grade_all_total[(la_grade_all_total['GRADE'] == "80")]
#la_grade4filter

In [38]:
la_grade_all_withasterisk = la_grade_clean[(la_grade_clean['SUBGROUP'] == "TOTAL")]

In [39]:
la_grade_all_total = la_grade_all_withasterisk[(la_grade_all_withasterisk['L1 PERCENT'] != "*")]

In [40]:
len(la_grade_all_total.index)

11437

In [41]:
la_grade_all_total['SCHOOL NAME'] =  la_grade_all_total['SCHOOL NAME'].fillna('DISTRICT WIDE')

/Users/castudi1/miniconda2/envs/lovepandas/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [42]:
la_grade_all_total.head(10)

,COUNTY CODE,COUNTY NAME,DISTRICT CODE,DISTRICT NAME,SCHOOL CODE,SCHOOL NAME,DFG,SUBGROUP,SUBGROUP_TYPE,REGISTERED TO TEST,NOT TESTED ** (See Below),VALID SCORES,MEAN SCALE SCORE,L1 PERCENT,L2 PERCENT,L3 PERCENT,L4 PERCENT,L5 PERCENT,GRADE
0,01,ATLANTIC,0010,ABSECON CITY,60.0,H ASHTON MARSH,CD,TOTAL,ALL STUDENTS,90,22,68,740,16.2,19.1,20.6,42.6,1.5,3
14,01,ATLANTIC,0010,ABSECON CITY,NaN,DISTRICT WIDE,CD,TOTAL,ALL STUDENTS,90,22,68,740,16.2,19.1,20.6,42.6,1.5,3
28,01,ATLANTIC,0110,ATLANTIC CITY,30.0,SOVEREIGN AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,72,722,27.8,27.8,25,18.1,1.4,3
41,01,ATLANTIC,0110,ATLANTIC CITY,50.0,CHELSEA HEIGHTS SCHOOL,A,TOTAL,ALL STUDENTS,*,*,37,746,5.4,18.9,27,45.9,2.7,3
54,01,ATLANTIC,0110,ATLANTIC CITY,60.0,TEXAS AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,74,710,37.8,36.5,14.9,10.8,0,3
67,01,ATLANTIC,0110,ATLANTIC CITY,70.0,NEW YORK AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,58,714,39.7,25.9,15.5,19,0,3
80,01,ATLANTIC,0110,ATLANTIC CITY,80.0,UPTOWN SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,63,712,33.3,31.7,23.8,11.1,0,3
92,01,ATLANTIC,0110,ATLANTIC CITY,100.0,PENNSYLVANIA AVE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,48,711,43.8,27.1,16.7,10.4,2.1,3
105,01,ATLANTIC,0110,ATLANTIC CITY,120.0,RICHMOND AVENUE SCHOOL,A,TOTAL,ALL STUDENTS,*,*,55,733,16.4,18.2,40,23.6,1.8,3
120,01,ATLANTIC,0110,ATLANTIC CITY,140.0,DR MARTIN LUTHER KING JR SCHOOL COMPLEX,A,TOTAL,ALL STUDENTS,*,*,77,707,46.8,24.7,18.2,10.4,0,3

In [43]:
la_grade_all_total.to_csv('la_allgrades_total2015.csv', header=True)

In [44]:
 len(la_grade_all_total.index)
len(math_grade_all_total.index)

12015

In [45]:
latest_both_subject = pd.merge(math_grade_all_total, la_grade_all_total, on=['COUNTY CODE', 'DISTRICT CODE', 'SCHOOL CODE', 'COUNTY NAME', 'DISTRICT NAME', 'SCHOOL NAME', 'DFG', 'SUBGROUP', 'SUBGROUP_TYPE', 'GRADE'], how='outer')

In [46]:
len(latest_both_subject.index)

12209

In [47]:
list(latest_both_subject)

[u'COUNTY CODE',
 u'COUNTY NAME',
 u'DISTRICT CODE',
 u'DISTRICT NAME',
 u'SCHOOL CODE',
 u'SCHOOL NAME',
 u'DFG',
 u'SUBGROUP',
 u'SUBGROUP_TYPE',
 u'REGISTERED TO TEST_x',
 u'NOT TESTED ** (See Below)_x',
 u'VALID SCORES_x',
 u'MEAN SCALE SCORE_x',
 u'L1 PERCENT_x',
 u'L2 PERCENT_x',
 u'L3 PERCENT_x',
 u'L4 PERCENT_x',
 u'L5 PERCENT_x',
 'GRADE',
 u'REGISTERED TO TEST_y',
 u'NOT TESTED ** (See Below)_y',
 u'VALID SCORES_y',
 u'MEAN SCALE SCORE_y',
 u'L1 PERCENT_y',
 u'L2 PERCENT_y',
 u'L3 PERCENT_y',
 u'L4 PERCENT_y',
 u'L5 PERCENT_y']

In [48]:
latest_both_subject.rename(columns={'REGISTERED TO TEST_x': 'PREV_REGISTERED TO TEST_MATH', 'NOT TESTED ** (See Below)_x': 'PREV_NOT TESTED ** (See Below)_MATH', 'VALID SCORES_x': 'PREV_VALID SCORES_MATH', 'MEAN SCALE SCORE_x': 'PREV_MEAN SCALE SCORE_MATH', 'L1 PERCENT_x': 'PREV_L1 PERCENT_MATH', 'L2 PERCENT_x': 'PREV_L2 PERCENT_MATH', 'L3 PERCENT_x': 'PREV_L3 PERCENT_MATH', 'L4 PERCENT_x': 'PREV_L4 PERCENT_MATH', 'L5 PERCENT_x': 'PREV_L5 PERCENT_MATH'}, inplace=True)

In [49]:
latest_both_subject.rename(columns={'REGISTERED TO TEST_y': 'PREV_REGISTERED TO TEST_LA', 'NOT TESTED ** (See Below)_y': 'PREV_NOT TESTED ** (See Below)_LA', 'VALID SCORES_y': 'PREV_VALID SCORES_LA', 'MEAN SCALE SCORE_y': 'PREV_MEAN SCALE SCORE_LA', 'L1 PERCENT_y': 'PREV_L1 PERCENT_LA', 'L2 PERCENT_y': 'PREV_L2 PERCENT_LA', 'L3 PERCENT_y': 'PREV_L3 PERCENT_LA', 'L4 PERCENT_y': 'PREV_L4 PERCENT_LA', 'L5 PERCENT_y': 'PREV_L5 PERCENT_LA'}, inplace=True)

In [50]:
list(latest_both_subject)

[u'COUNTY CODE',
 u'COUNTY NAME',
 u'DISTRICT CODE',
 u'DISTRICT NAME',
 u'SCHOOL CODE',
 u'SCHOOL NAME',
 u'DFG',
 u'SUBGROUP',
 u'SUBGROUP_TYPE',
 'PREV_REGISTERED TO TEST_MATH',
 'PREV_NOT TESTED ** (See Below)_MATH',
 'PREV_VALID SCORES_MATH',
 'PREV_MEAN SCALE SCORE_MATH',
 'PREV_L1 PERCENT_MATH',
 'PREV_L2 PERCENT_MATH',
 'PREV_L3 PERCENT_MATH',
 'PREV_L4 PERCENT_MATH',
 'PREV_L5 PERCENT_MATH',
 'GRADE',
 'PREV_REGISTERED TO TEST_LA',
 'PREV_NOT TESTED ** (See Below)_LA',
 'PREV_VALID SCORES_LA',
 'PREV_MEAN SCALE SCORE_LA',
 'PREV_L1 PERCENT_LA',
 'PREV_L2 PERCENT_LA',
 'PREV_L3 PERCENT_LA',
 'PREV_L4 PERCENT_LA',
 'PREV_L5 PERCENT_LA']

In [51]:
latest_both_subject.to_csv('previous_both_subject.csv', header=True, index=False)